.row
  .large-12.columns
    %ul{"data-options" => "", "data-orbit" => ""}
      %li
        =image_tag('slider1.jpg')
      %li
        =image_tag('slider2.jpg')
      %li
        =image_tag('slider4.jpg')
%br

.row
  .large-12.columns
    .page-content
      .large-4.columns.parents-info
        =image_tag('kc_aboutus.jpg')
        %h4 About us 
        %p Bespoke scenester Portland Williamsburg 90's. 90's Tonx 8-bit, hashtag tousled biodiesel jean shorts vegan pug Bushwick Carles. Pug polaroid fanny pack, Echo Park semiotics McSweeney's thundercats ennui wayfarers intelligentsia trust fund post-ironic. Austin literally tattooed, roof party swag blue bottle fap. Freegan beard salvia, intelligentsia try-hard kitsch food truck ethnic. Master cleanse fingerstache kale chips post-ironic VHS helvetica.
      .large-4.columns.teachers-info
        =image_tag('dads_gnome.jpg')
        %h4 Services
        %p Deep v McSweeney's 90's put a bird on it kitsch voluptate. Austin tattooed officia aesthetic Bushwick nulla. Hashtag wayfarers lomo brunch Pinterest selvage. Squid quis in Banksy dolore consectetur. Et quis actually, pop-up mixtape sustainable tempor dolor. Fanny pack keffiyeh Tonx fap, fashion axe ethical officia. Ea laboris McSweeney's, DIY keytar in cornhole Godard.
      .large-4.columns.teachers-info
        =image_tag('dads_seabird.jpg')
        %h4 Contact Us
        %p High Life shabby chic mixtape, helvetica food truck Carles pork belly bespoke forage. Roof party farm-to-table quinoa, Pinterest twee tumblr single-origin coffee aesthetic actually vinyl pop-up next level PBR Etsy. Lomo fanny pack wolf asymmetrical letterpress. Cornhole leggings master cleanse McSweeney's kogi. Church-key fixie put a bird on it hashtag lomo, quinoa Cosby sweater roof party blog Wes Anderson. 90's cornhole lo-fi intelligentsia, american apparel hella butcher aesthetic iPhone bicycle rights.
%br
%br

