footer {
  color: #fff;
  text-shadow: 1px 1px 1px #333;
  ul {
    li {
      a {
        color: #fff;
        text-shadow: 1px 1px 1px #333;
        &:hover {
          text-decoration: underline;
          color: #fff;
          text-shadow: 1px 1px 1px #333;
        }
      }
    }
  }
}
